mat-grid-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

.loadpage {
  height: 70vh;
}

.pokemons span {
  font-size: 30px;
  color: #fff;
  font-family: "NTR";
}
