<main>
  <h1>Mes Pokémons favoris</h1>

  <ul *ngIf="!this.isLoading">
    <a href="">
      <li class="pokemon" *ngFor="let pokemon of this.favorites">
        <img [src]='pokemon.image' [alt]="pokemon.name">
        <h2>{{pokemon.name}}</h2>
        <mat-chip-listbox *ngFor="let type of pokemon.apiTypes">
          <mat-chip [ngStyle]="{'background-color': type.color}">
            <img matChipAvatar [src]="type.image" alt="Pokemon Type Image" />
            {{type.name}}
          </mat-chip>
        </mat-chip-listbox>
      </li>
    </a>
  </ul>
  <app-loading-spinner *ngIf="this.isLoading"></app-loading-spinner>
</main>
