<!DOCTYPE html>
<html>
<head>
	<title>Mes Pokémons favoris</title>
	<link rel="stylesheet" type="text/css" href="favoris.component.css">
</head>
<body>
	<h1>Mes Pokémons favoris</h1>
	<ul>
		<li class="pokemon">
			<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" alt="Pikachu">
			<h2>Pikachu</h2>
			<p>Électrique</p>
			<a href="https://bulbapedia.bulbagarden.net/wiki/Pikachu_(Pok%C3%A9mon)" >Description de Pikachu</a>
            <br>
			<a href="https://www.pokemon.com/fr/pokedex/pikachu">Statistiques de Pikachu</a>
		</li>
		<li class="pokemon">
			<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/149.png" alt="Dragonite">
			<h2>Dracolosse</h2>
			<p>Dragon / Vol</p>
			<a href="https://bulbapedia.bulbagarden.net/wiki/Dragonite_(Pok%C3%A9mon)">Description de Dragonite</a><br>
			<a href="https://www.pokemon.com/fr/pokedex/dragonite">Statistiques de Dragonite</a>
		</li>
		<li class="pokemon">
			<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/384.png" alt="Rayquaza">
			<h2>Rayquaza</h2>
			<p>Dragon / Vol</p>
			<a href="https://bulbapedia.bulbagarden.net/wiki/Rayquaza_(Pok%C3%A9mon)">Description de Rayquaza</a><br>
			<a href="https://www.pokemon.com/fr/pokedex/rayquaza">Statistiques de Rayquaza</a>
		</li>
		<li class="pokemon">
			<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/448.png" alt="Lucario">
			<h2>Lucario</h2>
			<p>Combat / Acier</p>
			<a href="https://bulbapedia.bulbagarden.net/wiki/Lucario_(Pok%C3%A9mon)">Description de Lucario</a><br>
			<a href="https://www.pokemon.com/fr/pokedex/lucario">Statistiques de Lucario</a>
		</li>
		<li class="pokemon">
			<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/6.png" alt="Charizard">
			<h2>Dracaufeu</h2>
			<p>Feu / Vol</p>
			<a href="https://bulbapedia.bulbagarden.net/wiki/Charizard_(Pok%C3%A9mon)">Description de Charizard</a><br>
			<a href="https://www.pokemon.com/fr/pokedex/charizard">Statistiques de Charizard</a>
		</li>
		<li class="pokemon">
			<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/196.png" alt="Espeon">
			<h2>Noctaly</h2>
			<p>Psy</p>
			<a href="https://bulbapedia.bulbagarden.net/wiki/Espeon_(Pok%C3%A9mon)">Description d'Espeon</a><br>
			<a href="https://www.pokemon.com/fr/pokedex/espeon">Statistiques d'Espeon</a>
		</li>
        <li class="pokemon">
			<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/483.png" alt="Dialga">
			<h2>Dialga</h2>
			<p>Acier / Dragon</p>
			<a href="https://bulbapedia.bulbagarden.net/wiki/Dialga_(Pok%C3%A9mon)">Description de Dialga</a><br>
			<a href="https://www.pokemon.com/fr/pokedex/dialga">Statistiques de Dialga</a>
		</li>
		<li class="pokemon">
			<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/635.png" alt="Hydreigon">
			<h2>Trioxhydre</h2>
			<p>Ténèbres / Dragon</p>
			<a href="https://bulbapedia.bulbagarden.net/wiki/Hydreigon_(Pok%C3%A9mon)">Description de Hydreigon</a><br>
			<a href="https://www.pokemon.com/fr/pokedex/hydreigon">Statistiques de Hydreigon</a>
		</li>
		<li class="pokemon" ahref="">
			<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/646.png" alt="Kyurem">
			<h2>Kyurem</h2>
			<p>Dragon / Glace</p>
			<a href="https://bulbapedia.bulbagarden.net/wiki/Kyurem_(Pok%C3%A9mon)">Description de Kyurem</a><br>
			<a href="https://www.pokemon.com/fr/pokedex/kyurem">Statistiques de Kyurem</a>
		</li>
		<li class="pokemon">
			<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/719.png" alt="Diancie">
			<h2>Diancie</h2>
			<p>Roche / Fée</p>
			<a href="https://bulbapedia.bulbagarden.net/wiki/Diancie_(Pok%C3%A9mon)">Description de Diancie</a><br>
			<a href="https://www.pokemon.com/fr/pokedex/diancie">Statistiques de Diancie</a>
		</li>
	</ul>
</body>
</html>
