<mat-card>
  <img mat-card-image [src]="image" alt="Pokemon Image" class="pokemonImage">
  <mat-card-content>
    <mat-card-title>
      <h2>{{name}}</h2>
    </mat-card-title>
    <mat-chip-listbox *ngFor="let type of types">
      <mat-chip>
        <img matChipAvatar [src]="type.image" alt="Pokemon Type Image" />
        <span matChipTrailingIcon>{{type.name}}</span>
      </mat-chip>
    </mat-chip-listbox>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary" [routerLink]="['/pokemon', id]">View Details</button>
  </mat-card-actions>
</mat-card>
