mat-card {
  display: inline-block;
  margin: 10px;
  padding: 20px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 25px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  font-size: 0.9em;
  transition: all 0.2s ease-in-out;
  text-align: center;
  background-color: rgb(71, 71, 71);
  color: white;
}
mat-card h2 {
  font-family: "Poppins", sans-serif;
}
mat-card span{
  font-family: "NTR", sans-serif;
}
mat-card img.pokemonImage {
  width: 100%;
  height: auto;
  max-width: 150px;
  float: left;
  border-radius: 50%;
  border: 2px solid #8f8f8f;
  transition: all 0.5s ease-in-out;
}
mat-card-content {
  float: left;
  text-align: left;
  transition: all 0.5s ease-in-out;
  text-shadow: 1px 1px rgba(0,0,0,0);
  min-width: 250px;
  padding-left: 40px;
}
mat-card:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.03);
}
mat-chip {
  font-family: "NTR", sans-serif;
  font-size: 13pt;
}
